*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    height: 30%;
    width: auto;
    border-bottom: 3px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}


.menu-options{
    display: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: #282222;
    color: #FAFAFA;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.menu-options ul li{
    list-style: none;
    padding: 0.8rem;
}
.menu-options ul li a{
    color: inherit;
    text-decoration: none;
}
.menu:hover .menu-options{
    display: block;
}

/* main */

.acar{
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main h2{
    text-align: center;
    margin : 1rem;
    font-size: 2rem;
}

.car-section{
    background-color: #D9D9D9;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    transition: transform 0.3s ease;
}
.car-section h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.3rem;
    text-align: center;
}
.car{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.car-section:hover{
    transform: scale(1.05);
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.img img{
    width: 60%;
    border-radius: 0.5rem;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    margin: 0.5rem;
}

.detail img{
    width: 15%;
}
.detail p{
    display: inline;
}


@media (min-width:1367px){
    .navbar{
        height: 100px;
    }
    .logo{
        width: 50%;
    }
    .logo img{
        width: 10%;
    }
    .menu img{
        display: none;
    }
    .menu-options{
        position: relative;
        display: block;
        top: 0;
        right: 1rem;
        background-color: #FAFAFA;
        color: #282222;
        border-bottom: 3px solid #282222;
        border-top: 1px solid #282222;
        border-left: 1px solid #fb5900;
        border-right: 1px solid #fb5900;
        padding: 0.3rem;
        transition: transform 0.4s ease;
    }

    .menu-options ul li a{
        color: inherit;
        text-decoration: none;
    }

    .menu-options:hover {
        background-color: #282222;
        color: #FAFAFA;
        transform: rotateY(5deg) rotateX(5deg) translateZ(-20px);
    }

    .menu-options:hover{
        background-color: #282222;
        color: #FAFAFA;
    }

    .menu-options ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-options ul li{
        margin-right: 1rem;
        padding: 0.3rem;
    }

    .acar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .car-section{
        height: 200px;
        width: 600px;
        padding: 1rem;
        margin: 1rem;
    }
    .car{
        flex-direction: row;
    }
    .img img{
        width: 250px
    }
    .detail{
        height: 120px;
        background-color: #FAFAFA;
        margin: 10px;
    }
    .cd{
        margin: 5px;
    }
    .cd p{
        margin: 5px;
    }
    .cd img{
        width: 15%;
    }

    .car-img{
        max-height: 120%;
        max-width: 100%;
        object-fit: cover;
    }
    
    
}