{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked</title>
    <link rel="stylesheet" href="{% static 'css/cars/booked.css' %}">
</head>
<body>
        <header>
        <div class="navbar">

            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="25%">
            </div>

            <div class="menu">
                <img src="{% static 'img/menu.png' %}" alt="menu" width="25%">

                <div class="menu-options">
                    <ul>
                        <li><a href="{% url 'home'  %}">Home</a></li>
                        <li><a href="{% url 'home'  %}">About</a></li>
                        <li><a href="{% url 'home'  %}">Contact</a></li>
                        <li><a href="{% url 'account'  %}">Account</a></li>
                    </ul>
                </div>
            </div>


        </div>
        </header>

        <main>
            <div class="success">
                <div class="booked">
                    <img src="{% static 'img/success.png' %}" alt="success icon" width="50%">
                    <h2>Booking Confirmed You're all set to go!</h2>
                    <h3>Congratulation {{username}}</h3>
                    <h4>Booking Id : {{bi}}</h4>
                </div>

                <div class="urban">
                    <p>📍 Urban Drive : Where comfort meets control</p>
                    <button>
                        <a href="{% url 'home'  %}"><img src="{% static 'img/Home btn.png' %}" alt="homebtn" width="10%"></a>
                    </button>
                </div>
            </div>
            
        </main>
        <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>