{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Cars</title>
    <link rel="stylesheet" href="{% static 'css/cars/cars.css' %}">
</head>
<body>
    <header>
        <div class="navbar">

            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="25%">
            </div>

            <div class="menu">
                <img src="{% static 'img/menu.png' %}" alt="menu" width="25%">

                <div class="menu-options">
                    <ul>
                        <li><a href="/users/home">Home</a></li>
                        <li><a href="/users/home">About</a></li>
                        <li><a href="/users/home">Contact</a></li>
                        <li><a href="{% url 'login'  %}">Login|</a>
                            <a href="{% url 'register'  %}">Register</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </header>
    <main>
        <h2>Available Cars</h2>
        <div class="acar">
            <div class="car-section">
                <h3>Toyota Fortuner 2025</h3>
                <div class="car">
                    <div class="img">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.QQ9PPBg_x10dfdOLwpSRBwHaEL?rs=1&pid=ImgDetMain&o=7&rm=3" alt="carPhoto" width="50%">
                    </div>
                    <div class="detail">

                       <div class="left">
                        <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%"><p>Suv</p></div>
                        <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%"><p>Automatic</p></div>
                        <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%"><p>20,000</p></div>
                       </div>

                       <div class="rigth">
                        <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%"><p>Diesel</p></div>
                        <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%"><p>10kmpl</p></div>
                        <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%"><p>7000/Day</p></div>
                       </div>
                    </div>
                </div>
            </div>

            <div class="car-section">
                <h3>Toyota Fortuner 2025</h3>
                <div class="car">
                    <div class="img">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.QQ9PPBg_x10dfdOLwpSRBwHaEL?rs=1&pid=ImgDetMain&o=7&rm=3" alt="carPhoto" width="50%">
                    </div>
                    <div class="detail">

                       <div class="left">
                        <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%"><p>Suv</p></div>
                        <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%"><p>Automatic</p></div>
                        <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%"><p>20,000</p></div>
                       </div>

                       <div class="rigth">
                        <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%"><p>Diesel</p></div>
                        <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%"><p>10kmpl</p></div>
                        <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%"><p>7000/Day</p></div>
                       </div>
                    </div>
                </div>
            </div>

                        <div class="car-section">
                <h3>Toyota Fortuner 2025</h3>
                <div class="car">
                    <div class="img">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.QQ9PPBg_x10dfdOLwpSRBwHaEL?rs=1&pid=ImgDetMain&o=7&rm=3" alt="carPhoto" width="50%">
                    </div>
                    <div class="detail">

                       <div class="left">
                        <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%"><p>Suv</p></div>
                        <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%"><p>Automatic</p></div>
                        <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%"><p>20,000</p></div>
                       </div>

                       <div class="rigth">
                        <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%"><p>Diesel</p></div>
                        <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%"><p>10kmpl</p></div>
                        <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%"><p>7000/Day</p></div>
                       </div>
                    </div>
                </div>
            </div>

                        <div class="car-section">
                <h3>Toyota Fortuner 2025</h3>
                <div class="car">
                    <div class="img">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.QQ9PPBg_x10dfdOLwpSRBwHaEL?rs=1&pid=ImgDetMain&o=7&rm=3" alt="carPhoto" width="50%">
                    </div>
                    <div class="detail">

                       <div class="left">
                        <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%"><p>Suv</p></div>
                        <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%"><p>Automatic</p></div>
                        <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%"><p>20,000</p></div>
                       </div>

                       <div class="rigth">
                        <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%"><p>Diesel</p></div>
                        <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%"><p>10kmpl</p></div>
                        <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%"><p>7000/Day</p></div>
                       </div>
                    </div>
                </div>
            </div>

                        <div class="car-section">
                <h3>Toyota Fortuner 2025</h3>
                <div class="car">
                    <div class="img">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.QQ9PPBg_x10dfdOLwpSRBwHaEL?rs=1&pid=ImgDetMain&o=7&rm=3" alt="carPhoto" width="50%">
                    </div>
                    <div class="detail">

                       <div class="left">
                        <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%"><p>Suv</p></div>
                        <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%"><p>Automatic</p></div>
                        <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%"><p>20,000</p></div>
                       </div>

                       <div class="rigth">
                        <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%"><p>Diesel</p></div>
                        <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%"><p>10kmpl</p></div>
                        <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%"><p>7000/Day</p></div>
                       </div>
                    </div>
                </div>
            </div>

                        <div class="car-section">
                <h3>Toyota Fortuner 2025</h3>
                <div class="car">
                    <div class="img">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.QQ9PPBg_x10dfdOLwpSRBwHaEL?rs=1&pid=ImgDetMain&o=7&rm=3" alt="carPhoto" width="50%">
                    </div>
                    <div class="detail">

                       <div class="left">
                        <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%"><p>Suv</p></div>
                        <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%"><p>Automatic</p></div>
                        <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%"><p>20,000</p></div>
                       </div>

                       <div class="rigth">
                        <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%"><p>Diesel</p></div>
                        <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%"><p>10kmpl</p></div>
                        <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%"><p>7000/Day</p></div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>