{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Cars</title>
    <link rel="stylesheet" href="{% static 'css/cars/cars.css' %}">
</head>

<body>
    <header>
        <div class="navbar">

            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="25%">
            </div>

            <div class="menu">
                <img src="{% static 'img/menu.png' %}" alt="menu" width="25%">

                <div class="menu-options">
                    <ul>
                        <li><a href="/users/home">Home</a></li>
                        <li><a href="/users/home">About</a></li>
                        <li><a href="/users/home">Contact</a></li>
                        <li><a href="{% url 'login'  %}">Login|</a>
                            <a href="{% url 'register'  %}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </header>
    <main>
        <h2>Available Cars</h2>
        <div class="acar">
            {% for c in available_cars %}
            <div class="car-section">
                <h3>{{c.brand}} {{c.name}} {{c.year}}</h3>
                <div class="car">
                    <div class="img">
                        {% for img in car.images.all %}
                        <img src="{{ img.image.url }}" alt="{{ car.name }}" style="width:50%; height:auto;">
                        {% empty %}
                        <p>No images available</p>
                        {% endfor %}
                    </div>
                    <div class="detail">

                        <div class="left">
                            <div class="cd"><img src="{% static 'img/car type.png' %}" alt="cartype" width="5%">
                                <p>{{c.category}}</p>
                            </div>
                            <div class="cd"><img src="{% static 'img/GearType.png' %}" alt="cartype" width="5%">
                                <p>{{c.gear_type}}</p>
                            </div>
                            <div class="cd"><img src="{% static 'img/kilometer.png' %}" alt="cartype" width="5%">
                                <p>{{c.Seat}}</p>
                            </div>
                        </div>

                        <div class="rigth">
                            <div class="cd"><img src="{% static 'img/Fuletype.png' %}" alt="cartype" width="5%">
                                <p>{{c.fuel_type}}</p>
                            </div>
                            <div class="cd"><img src="{% static 'img/average.png' %}" alt="cartype" width="5%">
                                <p>{{c.average}}</p>
                            </div>
                            <div class="cd"><img src="{% static 'img/rent.png' %}" alt="cartype" width="5%">
                                <p>{{c.rent}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>