*{
    margin: 0;
    padding: 0;
}

/* Mobile Design */

.navbar{
    height: 30%;
    width: auto;
    border-bottom: 3px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}


.menu-options{
    display: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: #282222;
    color: #FAFAFA;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.menu-options ul li{
    list-style: none;
    padding: 0.8rem;
}
.menu-options ul li a{
    color: inherit;
    text-decoration: none;
}

.account{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.upper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}

.upper input{
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
}

.upper button{
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    background-color: red;
    color: #FAFAFA;
    border-radius: 0.5rem;
    font-weight: 600;
}

a{
    color: inherit;
    text-decoration: none;
}

.lower{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 0.5rem;
}

.booking-card{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid grey;
}


/* main Section */

@media (min-width:1367px){
    .navbar{
        height: 100px;
    }
    .logo{
        width: 50%;
    }
    .logo img{
        width: 20%;
    }
    .menu img{
        display: none;
    }
    .menu-options{
        position: relative;
        display: block;
        top: 0;
        right: 1rem;
        background-color: #FAFAFA;
        color: #282222;
        border-bottom: 3px solid #282222;
        border-top: 1px solid #282222;
        border-left: 1px solid #fb5900;
        border-right: 1px solid #fb5900;
        padding: 0.3rem;
        transition: transform 0.4s ease;
    }

    .menu-options ul li a{
        color: inherit;
        text-decoration: none;
    }

    .menu-options:hover {
        background-color: #282222;
        color: #FAFAFA;
        transform: rotateY(5deg) rotateX(5deg) translateZ(-20px);
    }

    .menu-options:hover{
        background-color: #282222;
        color: #FAFAFA;
    }

    .menu-options ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-options ul li{
        margin-right: 1rem;
        padding: 0.3rem;
    }

    .lower{
        min-width: 450px;
    }
}