*{
    margin: 0;
    padding: 0;
}

/* Mobile Design */

.navbar{
    height: 30%;
    width: auto;
    border-bottom: 3px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}


.menu-options{
    display: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: #282222;
    color: #FAFAFA;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.menu-options ul li{
    list-style: none;
    padding: 0.8rem;
}
.menu-options ul li a{
    color: inherit;
    text-decoration: none;
}
.menu:hover .menu-options{
    display: block;
}

/* main Section */

body{
    background-color: #FAFAFA;
}

.availCar{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top left,#282222,#282222);
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.availCar:hover{
    transform: scale(1.05);
}

.availCar h2{
    color: #FAFAFA;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loc{
    width: 80%;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    outline: none;
    margin: 1rem;
}

.dt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: #FAFAFA;
}

.dt p{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sd{
    width: 80%;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

#st{
    width: 80%;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
#ed{
    width: 80%;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
#et{
    width: 80%;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sbtn{
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    outline: none;
}

#sbtn:hover{
    background-color: #282222;
    color: #FAFAFA;
    font-weight: 700;
}

.aboutus{
    height: auto;
    width: auto;
    background-color: #282222;
    color: #FAFAFA;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.aboutus:hover{
    transform: scale(1.05);
}

.aboutus h2{
    margin: 0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.para p{
    border-radius: 0.5rem;
    padding: 1rem;
    background: linear-gradient(to top left,#282222,#282222);
}
.para{
    margin: 0.5rem;
}
.aboutus #slogan {
    color: #fb5900;
    text-align: center;
    margin: 0.3rem;
}

.contact{
    height: auto;
    width: auto;
    background:linear-gradient(to top left,#282222,#282222);
    color: #FAFAFA;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.contact:hover{
    transform: scale(1.05);
}

.contact h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.1rem;
}

.details{
    padding: 1rem;
}
.details ul{
    margin: 0.2rem;
}

@media (min-width:1367px){
    .navbar{
        height: 100px;
    }
    .logo{
        width: 50%;
    }
    .logo img{
        width: 10%;
    }
    .menu img{
        display: none;
    }
    .menu-options{
        position: relative;
        display: block;
        top: 0;
        right: 1rem;
        background-color: #FAFAFA;
        color: #282222;
        border-bottom: 3px solid #282222;
        border-top: 1px solid #282222;
        border-left: 1px solid #fb5900;
        border-right: 1px solid #fb5900;
        padding: 0.3rem;
        transition: transform 0.4s ease;
    }

    .menu-options ul li a{
        color: inherit;
        text-decoration: none;
    }

    .menu-options:hover {
        background-color: #282222;
        color: #FAFAFA;
        transform: rotateY(5deg) rotateX(5deg) translateZ(-20px);
    }

    .menu-options:hover{
        background-color: #282222;
        color: #FAFAFA;
    }

    .menu-options ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-options ul li{
        margin-right: 1rem;
        padding: 0.3rem;
    }
    .availCar{
        width: 50%;
        max-width: 1200px;
        margin: 2rem auto;
        border-radius: 5px;
        border-top: 3px solid #282222;
        border-bottom: 3px solid #282222;
        
    }
    .availCar:hover{
        background-color: #282222;
        color: #FAFAFA;
        border-right: 1px solid #fb5900;
        border-left: 1px solid #fb5900;
    }
    .availCar:hover p{
        color: #282222;
    }

    .ac{
        display: flex;
    }
    .aboutus{
        width: 50%;
        max-width: 1200px;
    }

    .contact{
        width: 50%;
        max-width: 1200px;
        padding: 1rem;
    }
    .details p{
       line-height: 20px;
    }
    .details ul {
        margin: 2rem;
    }
}